
<div class="container">
<div class="row">
	<div class="col-sm">
		<img src="https://avatars0.githubusercontent.com/u/29715062?s=460&v=4" width="90%">
		<h3><%= link_to "Richard Scheiwe", "https://github.com/rscheiwe" %></h3>
	</div>
	<div class="col-sm">
		<img src="https://avatars3.githubusercontent.com/u/36425627?s=460&v=4" width="90%">
		<h3><%= link_to "Chris Metzger", "https://github.com/critsmet" %></h3>
	</div>
	<div class="col-sm">
		<img src="https://avatars3.githubusercontent.com/u/19891450?s=460&v=4" width="90%">
		<h3><%= link_to "Paul Bomba", "https://github.com/pbomba" %></h3>
	</div>
</div>