<html>
<head>
<style>



</style>
</head>
</html>

<header class="navbar  navbar-inverse">
    <div class="navbar-class">
      <div class="container">


      <!-- Collect the nav links, forms, and other content for toggling -->


        <p class="nav navbar-nav">
          <center><p class="active"><a href="/">HOME</a>
          <%=link_to "MOVIES", movies_path%>
          <%=link_to "USERS", users_path %></center>

        </ul>

      </div>
    </div>
  </header>
